.postcard {
  background-color: lightgoldenrodyellow;
  height: auto;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 80px;
}

.image {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

button {
  border: 0px;
}

.postcomment {
  background-color: white;
  height: auto;
  width: 95%;
  margin-top: 10px;
  padding: 20px;
}