<div id="container1">
  <form [formGroup]="profile" (ngSubmit)="onSubmit()">
    <label>User Name</label>&nbsp;
    <input type="text" formControlName="userName" /><br><br>
    <label>Description</label>&nbsp;
    <input type="text" formControlName="userDesc" /><br><br>
    <label>Blog Link</label>&nbsp;
    <input type="text" formControlName="blogLink" /><br><br>
    <label>Facebook Link</label>&nbsp;
    <input type="text" formControlName="fbLink" /><br><br>
    <label>Email</label>&nbsp;
    <input type="text" formControlName="email" /><br><br>
    <input type="submit" value="Update" />
  </form>
</div>